nav {
    display: flex;
   justify-content: space-between;
   align-items: center;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.nav-tittle{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
   
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    border-radius:5px ;
    border:0px;
    color:white;
    font-size: 20px;
    font-weight: 700px;
    padding:15px 35px;
    

}
nav > ul{
    display: flex;
    align-items: center;
   

}
nav li{
    list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;

}
