nav {
    display: flex;
   justify-content: space-between;
   align-items: center;
   margin:0 200px;
}
body {
    font-family: 'Open Sans', sans-serif;
}
.nav-tittle{
    color: #181818;
    font-size: 45px;
    font-weight: 800px;
   
}
.text-primary{
    color:#FD6E0A;
}
.btn-primary{
    background: #FD6E0A;
    border-radius:5px ;
    border:0px;
    color:white;
    font-size: 20px;
    font-weight: 700px;
    padding:15px 35px;
    

}
nav > ul{
    display: flex;
    align-items: center;
   

}
nav li{
    list-style: none;
    margin: 50px;
}
nav a{
    text-decoration: none;
    color:#474747;

}
.header{
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png');
    background-repeat:no-repeat ;
    background-position: bottom right;
    
}
.banner{
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between ;
}

.banner-content{
    max-width:480px;
}

.banner .profile-pic{
   width: 500px;
}
.banner-greeting{
    color: var(--dark-02, #474747);
    font-size: 45px;
    margin-bottom: 0px;

}
.banner-title{
    color: var(--dark-01, #181818);
    font-size: 85px;
    font-weight: 700;
    margin-top:5px ;
    margin-bottom: 20px;
}
.banner-description{
    margin-top: 20px;
    margin-bottom: 30px;
}
.about{
    padding: 130px;
    border-radius: 10px;
    background: #FFF8F3;
    margin: 130px 0px;

}
.section-title{
    color: #181818;
    text-align: center;
    font-size: 35px;  
    font-weight: 700;
    
}
.section-description{
    color:  #757575;
   text-align: center;
   font-size: 18px;
   

}
main{
    width: 1140px;
    margin:0px auto;
}
.about-info-container{
    display: flex;
    justify-content:space-around ;
}
.about-info{
    text-align: center;
}
#what-i-do-description{
    padding:30px 150px ;

}
.skill-container{
    display: flex;
     gap: 24px;
   
}
.skill{
  padding: 30px;
  border-radius: 5px;
  background: #FFF;
  box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
}
.skill-description{
    color:  #757575;
   
}


main section{
    margin-top:130px;
}
.resume-column-title{
    color: #474747; 
    font-size: 30px;
    font-weight: 700px;
}
.resume-container{
    display:flex;
    gap:50px;
}
.resume-item-institute, .resume-item-description{
   color: #757575; 
}
.resume-item-title{
    color:  #474747;
    font-size: 25px;
    font-weight: 700;
    margin-bottom:10px ;


}
.resume-item-institute{
    margin-bottom: 20px;
    margin-top: 10px;

}
.download-cv{
    text-align: center;
    margin-top: 50px;
}



